# Apple Stock

### Introduction:

We are going to use Apple's stock price.


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/09_Time_Series/Apple_Stock/appl_1980_2014.csv)

In [2]:
apple = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/09_Time_Series/Apple_Stock/appl_1980_2014.csv')
apple.head()

         Date   Open   High    Low  Close    Volume  Adj Close
0  2014-07-08  96.27  96.80  93.92  95.35  65130000      95.35
1  2014-07-07  94.14  95.99  94.10  95.97  56305400      95.97
2  2014-07-03  93.67  94.10  93.20  94.03  22891800      94.03
3  2014-07-02  93.87  94.06  93.09  93.48  28420900      93.48
4  2014-07-01  93.52  94.07  93.13  93.52  38170200      93.52

### Step 3. Assign it to a variable apple

In [3]:
# done

### Step 4.  Check out the type of the columns

In [4]:
apple.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8465 entries, 0 to 8464
Data columns (total 7 columns):
Date         8465 non-null object
Open         8465 non-null float64
High         8465 non-null float64
Low          8465 non-null float64
Close        8465 non-null float64
Volume       8465 non-null int64
Adj Close    8465 non-null float64
dtypes: float64(5), int64(1), object(1)
memory usage: 463.0+ KB

### Step 5. Transform the Date column as a datetime type

In [9]:
apple.Date = apple.Date.astype('datetime64[ns]')
apple.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8465 entries, 0 to 8464
Data columns (total 7 columns):
Date         8465 non-null datetime64[ns]
Open         8465 non-null float64
High         8465 non-null float64
Low          8465 non-null float64
Close        8465 non-null float64
Volume       8465 non-null int64
Adj Close    8465 non-null float64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 463.0 KB

### Step 6.  Set the date as the index

In [12]:
apple.set_index('Date')
apple.head()

        Date   Open   High    Low  Close    Volume  Adj Close
0 2014-07-08  96.27  96.80  93.92  95.35  65130000      95.35
1 2014-07-07  94.14  95.99  94.10  95.97  56305400      95.97
2 2014-07-03  93.67  94.10  93.20  94.03  22891800      94.03
3 2014-07-02  93.87  94.06  93.09  93.48  28420900      93.48
4 2014-07-01  93.52  94.07  93.13  93.52  38170200      93.52

### Step 7.  Is there any duplicate dates?

In [18]:
apple[apple.duplicated()].count()

Date         0
Open         0
High         0
Low          0
Close        0
Volume       0
Adj Close    0
dtype: int64

### Step 8.  Ops...it seems the index is from the most recent date. Make the first entry the oldest date.

In [22]:
apple = apple.sort_values('Date', ascending=True)
apple.head()

           Date   Open   High    Low  Close     Volume  Adj Close
8464 1980-12-12  28.75  28.87  28.75  28.75  117258400       0.45
8463 1980-12-15  27.38  27.38  27.25  27.25   43971200       0.42
8462 1980-12-16  25.37  25.37  25.25  25.25   26432000       0.39
8461 1980-12-17  25.87  26.00  25.87  25.87   21610400       0.40
8460 1980-12-18  26.63  26.75  26.63  26.63   18362400       0.41

### Step 9. Get the last business day of each month

In [31]:
from pandas.tseries.offsets import MonthEnd
pd.to_datetime(apple['Date'], format="%Y%m") + MonthEnd(1)
# apple[apple['Date'] == pd.to_datetime(apple['Date'], format="%Y%m") + MonthEnd(1)]

8464   1980-12-31
8463   1980-12-31
8462   1980-12-31
8461   1980-12-31
8460   1980-12-31
8459   1980-12-31
8458   1980-12-31
8457   1980-12-31
8456   1980-12-31
8455   1980-12-31
8454   1980-12-31
8453   1980-12-31
8452   1981-01-31
8451   1981-01-31
8450   1981-01-31
8449   1981-01-31
8448   1981-01-31
8447   1981-01-31
8446   1981-01-31
8445   1981-01-31
8444   1981-01-31
8443   1981-01-31
8442   1981-01-31
8441   1981-01-31
8440   1981-01-31
8439   1981-01-31
8438   1981-01-31
8437   1981-01-31
8436   1981-01-31
8435   1981-01-31
          ...
29     2014-05-31
28     2014-05-31
27     2014-05-31
26     2014-05-31
25     2014-06-30
24     2014-06-30
23     2014-06-30
22     2014-06-30
21     2014-06-30
20     2014-06-30
19     2014-06-30
18     2014-06-30
17     2014-06-30
16     2014-06-30
15     2014-06-30
14     2014-06-30
13     2014-06-30
12     2014-06-30
11     2014-06-30
10     2014-06-30
9      2014-06-30
8      2014-06-30
7      2014-06-30
6      2014-06-30
5      2014-07-31
4      2014-07-31
3      2014-07-31
2      2014-07-31
1      2014-07-31
0      2014-07-31
Name: Date, Length: 8465, dtype: datetime64[ns]

### Step 10.  What is the difference in days between the first day and the oldest

### Step 11.  How many months in the data we have?

### Step 12. Plot the 'Adj Close' value. Set the size of the figure to 13.5 x 9 inches

### BONUS: Create your own question and answer it.